<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e3720ac348.js" crossorigin="anonymous"></script>
</head>
<body >
    <header class="header">
        <div class="header__top-container">
            <img class="header__banner--top" src="/img/logo_rehogar.png" alt="bandera mercadolibre" />
            <nav class="header__nav--header">
       
              <ul class="home__nav__ul ">
                <a href="/login">
                  <li> <i class="fa-regular fa-address-card"></i> Ingresa a tu cuenta / Registrate</li>
                </a>
        
                <a class="header__nav-header_ul--compras">
                  <li> <i class="fa-solid fa-basket-shopping"></i>Mis compras <p>0</p></li>
                </a>
              </ul>
            </nav>
        </div>
        <div class="header__searchbar-nav--container">
          <button class="header__searchbar-nav--returnButton">Volver al Home</button>
        <div class="header__searchbar--container">
          <input class="header__searchbar" type="search" placeholder="Buscar productos, marcas." /><button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <nav class="header__nav">
       
          <ul class="home__nav__ul ">
            <a class="home__nav__ul--Access" href="/login">
              <li> <i class="fa-regular fa-address-card"></i></li>
            </a>
    
            <a class="home__nav__ul--shopping">
              <li> <i class="fa-solid fa-basket-shopping"></i><p>0</p></li>
            </a>
          </ul>
        </nav>
    </div>
  
      </header>
      
       
</body>
</html>