<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-hogar Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;800&family=Inconsolata:wght@400;600;700;800&family=Lilita+One&family=Lobster&display=swap""
        rel=" stylesheet">

</head>

<body class="home">

    <header class="home__header">

    </header>

    <main class="home__main">
        <div class="home__main__div">
            <div class="home__main__div--content">
                <h1>
                    <span>Accede</span>
                    <span>a tu cuenta </span>
                </h1>
                <div class="home__main__div--email">
                    <label>Email:</label>
                    <form class="home__main--form" action="register" method="POST">
                        <input class="home__main--barra" type="text" placeholder="">
                    </form>
                </div>

                <div class="home__main__div--password">
                    <label>Contraseña:</label>
                    <form class="home__main--form" action="password" method="POST">
                        <input class="home__main--barra" type="password" placeholder="">
                    </form>
                    <input type="checkbox" name="Recuerdame" value="Recuerdame">Recuerdame
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>

                <section class="home__main__section__botones">
                    <div class="home__main__div--ingreso">
                        <button type="submit">Ingresar</button>
                    </div>
                    <div class="home__main__section__botones--ya-tienes-cuenta">
                        <a href="/register" >¿Ya tienes cuenta?</a>
                    </div>                    
                    <div class="home__main__div--nueva-cuenta">
                        <a href="/register"><button type="submit">Crea tu cuenta</button></a>
                    </div>
                </section>
            </div>
            <div class="home__main__div--image">
                <img class="home__aside__section--logo" src="\img\logo_rehogar.png">
            </div>
        </div>
    </main>

        <footer class="home__footer">
            <nav class="home__footer--nosotros">
                <ul>
                    <li><a href="">Condiciones</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Donde estamos</a></li>
                    <li><a href="">Sucursales</a></li>
                </ul>
            </nav>
        </footer>
        
</body>

</html>