
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Re-Hogar</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/e3720ac348.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="index">
    <header class="header">
      <div class="header__top-container">
          <img class="header__banner--top" src="/img/logo_rehogar.png" alt="bandera mercadolibre" />
          <nav class="header__nav--header">
     
            <ul class="home__nav__ul ">
              <a href="/login">
                <li> <i class="fa-regular fa-address-card"></i> Ingresa a tu cuenta / Registrate</li>
              </a>
      
              <a>
                <li> <i class="fa-solid fa-basket-shopping"></i>Mis compras <p>0</p></li>
              </a>
            </ul>
          </nav>
      </div>
      <div class="header__searchbar-nav--container">
      <div class="header__searchbar--container">
        <input class="header__searchbar" type="search" placeholder="Buscar productos, marcas." /><button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
     
 
      <nav class="header__nav">
     
        <ul class="home__nav__ul ">
          <a href="/login">
            <li> <i class="fa-regular fa-address-card"></i></li>
          </a>
  
          <a>
            <li> <i class="fa-solid fa-basket-shopping"></i><p>0</p></li>
          </a>
        </ul>
      </nav>
  </div>

    </header>

    <main class="index__main">
      
      <div class="index__main__reversor">
      <section class="index__main__section">
       
        <div class="index__main_section--oferts">
          <article class="index__main__section--ofert">
            <img src="/img/caja.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__article--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main__section--ofert">
            <img src="/img/caja2.jpg" alt="imagen de otra caja de herramientas" />

            <div class="index__section__article--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
        
        <div class="index__main_section--selledMostAfter">
          <article class="index__main_section--selled">
            
            <img src="/img/taladro.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main_section--selled">
            <img src="/img/llave2.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
      </section>
      <section class="index__main__section--tabletPC">
        
        <div class="index__main_section--oferts">
          <article class="index__main__section--ofert">
            <img src="/img/caja.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__article--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main__section--ofert">
            <img src="/img/caja2.jpg" alt="imagen de otra caja de herramientas" />

            <div class="index__section__article--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
      
        <div class="index__main_section--selledMostAfter">
          <article class="index__main_section--selled">
            <img src="/img/taladro.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main_section--selled">
            <img src="/img/llave2.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
      </section>
    </div>
      
      <!---  aca va la  seccon inferior -->
      <img />
      <section class="index__main__section--last">
        <div class="index__main_section--selledMostAfter">
          <article class="index__main_section--selled">
            <img src="/img/aire.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main_section--selled">
            <img src="/img/taladrotes.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
        <div class="index__main_section--selledMostAfter ">
          <article class="index__main_section--selled">
            <img src="/img/aire.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>

          <article class="index__main_section--selled">
            <img src="/img/taladrotes.jpg" alt="imagen de la caja de herramientas" />

            <div class="index__section__selled--description">
              <p class="descripcion">Caja de Herramientas Raulito</p>
              <p class="precio">$6.770</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer class="home__footer">
      <nav class="home__footer--nosotros">
          <ul>
              <li><a href="">Condiciones</a></li>
              <li><a href="">Contacto</a></li>
              <li><a href="">Quienes somos</a></li>
              <li><a href="">Donde estamos</a></li>
              <li><a href="">Sucursales</a></li>
          </ul>
      </nav>
  </footer>  
  </body>
</html>