<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e3720ac348.js" crossorigin="anonymous"></script>
</head>

<body class="product_detail_body">
    <header class="header">
        <div class="header__top-container">
            <img class="header__banner--top" src="/img/logo_rehogar.png" alt="bandera mercadolibre" />
            <nav class="header__nav--header">

                <ul class="home__nav__ul ">
                    <a href="/login">
                        <li> <i class="fa-regular fa-address-card"></i> Ingresa a tu cuenta / Registrate</li>
                    </a>

                    <a class="header__nav-header_ul--compras">
                        <li> <i class="fa-solid fa-basket-shopping"></i>Mis compras <p>0</p>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="header__searchbar-nav--container">
            <button class="header__searchbar-nav--returnButton">Volver al Home</button>
            <div class="header__searchbar--container">
                <input class="header__searchbar" type="search" placeholder="Buscar productos, marcas." /><button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <nav class="header__nav">

                <ul class="home__nav__ul ">
                    <a class="home__nav__ul--Access" href="/login">
                        <li> <i class="fa-regular fa-address-card"></i></li>
                    </a>

                    <a class="home__nav__ul--shopping">
                        <li> <i class="fa-solid fa-basket-shopping"></i>
                            <p>0</p>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>

    </header>
    <main class="productDetail_main">
        <div class="product">
            <div class="test1">
                <div class="product_name_model">
                    <h1>Nombre del producto</h1>
                    <h2>Modelo</h2>
                </div>
                <div class="product_carrousel_box">
                    <div class="product_carrousel_img">
                        <img src="/img/productDetail_img/img_product_1.jpg">
                    </div>
                    <div class="product_carrousel_img">
                        <img src="/img/productDetail_img/img_product_2.jpg">
                    </div>
                    <div class="product_carrousel_img">
                        <img src="/img/productDetail_img/img_product_3.jpg">
                    </div>
                </div>
                <div class="product_precio_buttons_box">
                    <div class="product_precio">
                        <h1>$99.999</h1>
                    </div>
                    <div class="product_buttons">
                        <a href="#"><input type="button" value="Comprar"></a>
                        <a href="#"><input type="button" value="Enviar"></a>
                    </div>
                </div>
            </div>
            <div class="box_flex">
                <div class="box1">
                    <div class="product_description">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat quae similique odit eos
                            architecto saepe officia? Facilis amet quae, id fuga itaque alias nulla natus in sit
                            aspernatur
                            veritatis!
                        </p>
                    </div>
                    <div class="product_simil">
                        <h2>Productos similares</h2>
                        <div class="product_simil_box">
                            <div>
                                <img src="/img/productDetail_img/img_relation_1.jpg">
                            </div>
                            <div>
                                <img src="/img/productDetail_img/img_relation_2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vendedor_info">
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-truck"></i>
                            <p>Información de envios </p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-credit-card"></i>
                            <p>Metodos de pago </p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-id-card"></i>
                            <p>Información del vendedor </p>
                        </a>

                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Dirección de entrega </p>
                        </a>
                    </div>



                </div>
            </div>
        </div>
    </main>
    <footer class="home__footer">
        <nav class="home__footer--nosotros">
            <ul>
                <li><a href="">Condiciones</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Donde estamos</a></li>
                <li><a href="">Sucursales</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>