#div_cookies {
    display: block;
}
.footer_cookie{
    display:flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color:white;
    padding: 15px 15px;
    border-radius: 30px 30px 0 0;
    background: var(--cookieGradiente);
}
.hidden {
    display: none;
}
.div_cookies_buttons{
    display: flex;
    justify-content: center;
    gap: 3px;
}
#button_cookies{
    background: var(--botonesDorados);
    border:0;
    font-weight: bold;
    color:black
}