#filtrarProductos_button{
    display: flex;
    color:white;
    text-align: center;
    border:0;
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: 700;
    justify-content: center;
    background: var(--botonesDorados);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

#filtrarProductos_button:hover {
  box-shadow: 0 0 15px rgb(198, 192, 126);
}
#filterProducts_categorias{
  color: var(--sanAndres);
}
#filtrarCategoriasBox{
  padding: 8px;
}

#filterProducts_categorias:hover h5 i {
    background: linear-gradient(to top, rgb(172, 113, 45) 0%, rgb(224, 218, 142) 50%,rgb(186, 122, 49) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
#filterProducts_categorias:hover h5{
    text-decoration:underline;
}
#offcanvasNavbar2{
  background: var(--headerMenus);
  color:white
}
#button_menu_desplegable{
  background: linear-gradient(to top, rgb(172, 113, 45) 0%, rgb(224, 218, 142) 50%,rgb(186, 122, 49) 100%);
  border:0;
}
#button_menu_desplegar{
  height: 35px;
  color:black;
  background: linear-gradient(to top, rgb(172, 113, 45) 0%, rgb(224, 218, 142) 50%,rgb(186, 122, 49) 100%);
  border:0;
}
#menu_desplegable_categorias ul li a h5{
  color:white
}