#filtrarProductos_button{
    display: flex;
    color:white;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 700;
    justify-content: center;
    background-color: var(--colorSanAndres);
}
#filtrarProductos_button:hover {
  box-shadow: 0 0 15px white;
}
#filterProducts_categorias{
  color: var(--colorSanAndres);
}
#filtrarCategoriasBox{
  padding: 8px;
}

#filterProducts_categorias:hover h5 i {
    color:var(--colorIseo);
}
#filterProducts_categorias:hover h5{
    text-decoration:underline;
}