:root {
    --colorSopot: #A87564;
    --colorViñaDelMar: #AEB4B2;
    --GrisClaro: #ebebeb;
    --GrisOscuro: #666;
    --colorSanAndres: #3A3F43;
    --colorIseo: #B28F59;
}

body {
    width: 100vw;
    background-color: var(--colorViñaDelMar);
}
    
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
}

ul {
    padding: 0;
    color: var(--SanAndres);
}

/* :root{
    --colorSopot:#A87564;
    --colorViñaDelMar: #AEB4B2;
    --colorSanAndres: #3A3F43;
    --colorIseo: #B28F59;
} */