:root {
  --colorViñaDelMar: #aeb4b2;
  --colorSanAndres: #3a3f43;
  --colorSopot:#A87564;
  --colorIseo:#EBDD6C;
  --light-blue: #1259c3;
  --gray: #6e918a;
  --light-gray: #ebebeb;
  --green: #39b54a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
body {
  background-color: var(--colorViñaDelMar);
}

main {
  min-height: calc(60vh);
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--colorSanAndres);
  color: white;
  padding: 10px;
}