.home_header_nav-menu ul li {
  text-transform: uppercase;
  margin-bottom: 1px;
  border: 8px 0;
}
.home__header{
  background: var(--headerGradiente);
  padding: 30px 0px 20px 0px;
  border-radius: 0 0 20px 20px;
}
.home_header_logo {
  height: 11rem;
  width: auto;
}
.header_titulo {
  font-family: "Abril Fatface", cursive;
  color: white;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
  margin: 0px;
  font-size: 70px;
}
.header_searchbar{
  display: flex;
  flex-direction: row;
  background: var(--botonesDorados);
  border-radius: 5px;
  padding: 3px 6px;
  align-items: center;
  width: max-content;
  justify-content: space-evenly;
}
.header_searchbar_button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.header_ul{
  margin: 0;
}
#searchbar_header{
  border:0;
  border-radius:5px;
}
.contenedor_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  flex-direction: row-reverse;
}
.home_header_nav-menu ul li {
    display: flex;
    text-align: center;
    border-radius: 5px;
    width: 15%;
    font-weight: 700;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background: var(--botonesDorados);
}
#header_button_1:hover{
  box-shadow: 0 0 15px rgb(198, 192, 126);
}
#header_button_2:hover{
  box-shadow: 0 0 15px rgb(198, 192, 126);
}
#header_button_3 a{
  display: flex;
  align-items: center;
}
#header_button_3:hover{
  box-shadow: 0 0 15px rgb(198, 192, 126);
}
#header_button_4:hover{
  box-shadow: 0 0 15px rgb(198, 192, 126);
}
#header_button_5:hover{
  box-shadow: 0 0 15px rgb(198, 192, 126);
}

.header_menu_desplegable{
  display: none;
}

@media(max-width: 725px){
  .header_menu_desplegado{
    display: none;
  }
  .header_menu_desplegable{
    display: flex;
  }
  #button_menu_desplegable{
    background: var(--botonesDorados);
  }
  .header_menu_desplegable ul{
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-content: center;
  }
  .header_menu_desplegable li{
    display:flex;
    padding-bottom: 5px;
    border-radius: 5px;
    padding: 4px 0px;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-evenly;
    background: var(--botonesDorados);
  }
  .header_menu_desplegable a{
    font-size: 20px;
  }
  .bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0)!important;
  }
  .pe-3 {
    padding-right: 0px!important;
  }
  .header_searchbar{
    width: 100%;
    height: 38px;
  }
  #offcanvasNavbar{
    background: var(--headerMenus);
    color:white
  }
  #button_menu_desplegable{
    background: var(--botonesDorados);
    border:0;
  }
  
}
@media (max-width: 550px) {
  .contenedor_titulo{
    gap:5px;
    display: flex;
    padding-right: 5px;
  }
  .header_titulo {
    font-size: 50px;
  }
  .home_header_nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home_header_nav-menu ul li {
    background-color: var(--sanAndres);
    width: 50%;
  }
}

@media (min-width: 1374px) {
  .header_contenido{
    background-size : 100%  100%;
  }
  
}
