.home_main{
  margin-top: 30px;
}
.home__header__nav--menu ul li {
  background-color: var(--colorGris);
  text-transform: uppercase;
  margin-bottom: 1px;
  padding: 8px 0;
}
.home_main_top_arrow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.profile_photo_box{
  display: flex;
  border: 1px solid var(--GrisClaro);
  border-radius: 5px;
  justify-content: center;
}
.profile_photo{
  width: 50%;
  height: 100%;
}

@media (min-width: 481px) {
  .home__header__nav--menu ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .home__header__nav--menu ul li {
    font-size: 0.8rem;
  }
}

@media (min-width: 1180px) {

  .home__header__nav--menu ul li {
    font-size: 1rem;
    height: 50px;
    padding: 15px;
  }

}