.home_main{
  background-color: var(--sanAndres);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#carouselExampleAutoplaying {
  align-items: center;
}
#home_main{
  background-color: var(--sanAndres);
}
.profile_photo_box{
  display: flex;
  border: 1px solid var(--GrisClaro);
  border-radius: 5px;
  justify-content: center;
}
.profile_photo{
  width: 50%;
  height: 100%;
}
.products-title-search{
  color:white
}

@media (max-width:750px){
  .home_main{
    margin-top: 30px;
  } 
}