/* 
font-family: 'Kanit';
font-family: 'Inconsolata', monospace;
font-family: 'Lilita One', cursive;
font-family: 'Lobster', cursive; 
*/

body{
    background-color: var(--colorIseo);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */

/* MAIN */

.home__main {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.home__main h1 {
    display: flex;
    margin: 5px;
    padding: 20px;
    font-family: 'lilita One';
    font-weight: 900;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
}

.home__main label {
    display: flex;
    justify-content: flex-start;
    font-family: 'Kanit';
}

.home__main--barra {
    border-radius: 3px;
    width: 90vw;
    border: 1px solid lightgray;
    padding: 2px 5px;
}

.home__main__div--email {
    padding: 5px;
}

.home__main__div--password {
    padding: 5px;
}

.home__main__div--password a {
    display: flex;
    justify-content: end;
    font-size: 10px;
    position: relative;
    bottom: 23px;
}

.home__main__section__botones a {
    display: flex;
    font-size: 10px;
}

.home__main__div--ingreso {
    display: flex;
    margin: 5px 0;
}

.home__main__div--ingreso button {
    display: flex;
    font-family: 'Kanit';
    text-transform: uppercase;
    padding: 1px 25px;
    border-radius: 10px;
    border: solid 1px lightgrey;
    background-color: lightgrey;
}

.home__main__div--nueva-cuenta {
    display: none;
}

.home__main__div {
    display: flex;
}

.home__main__div--content {
    width: 100%;
}

.home__main__div--image {
    display: none;
    flex-direction: row-reverse;
}

/* FOOTER */

.home__footer {
    background-color: var(--colorSopot);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;

}


.home__footer--nosotros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}


@media (min-width: 768px) {

    /* MAIN */

    .home__main--barra {
        border-radius: 3px;
        width: 45vw;
    }

    .home__main__div--password a {
        width: 100%;
    }

    .home__main__section__botones--ya-tienes-cuenta {
        display: none;
    }

    .home__main__div--nueva-cuenta {
        display: flex;
    }

    .home__main__div--nueva-cuenta button {
        display: flex;
        font-family: 'Kanit';
        text-transform: uppercase;
        padding: 8px 25px;
        border-radius: 10px;
        border: solid 1px lightgrey;
        background-color: lightgrey;
        margin-top: 5px;
        width: 30vw;
        font-size: 16px;
        justify-content: center;
    }

    .home__main__div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home__main__div--content {
        width: 50%;
    }

    .home__main__div--image {
        display: flex;
        width: 50%;
    }

    /* FOOTER */

    .home__footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }


    .home__footer--nosotros {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .home__footer--nosotros ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

}

@media (min-width: 1023px) {

    /* HEADER */

    /* MAIN */

    .home__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        gap: 20px;
    }


    .home__main--barra {
        border-radius: 3px;
        width: 45vw;
    }

    .home__main__div--email {
        margin-left: 30px;
    }

    .home__main__div--password {
        margin-left: 30px;
    }

    .home__main__div--ingreso {
        margin-left: 35px;
    }

    .home__main__div--ingreso button {
        padding: 5px 15px;
    }

    .home__main__div--nueva-cuenta button {
        padding: 8px 20px;
        margin-top: 20px;
    }

    /* FOOTER */
    .home__footer--nosotros {
        width: 100%;
    }

}