.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 30px;
}

.product-detail-img {
  width: 50%;
  display: block;
  margin: auto;
}
.products-title{
  padding: 15px;
}
.product-detail-info {
  border-left: 1px solid var(--light-gray);
  padding: 15px;
  height: 100%;
}
.product-detail-title {
  font-weight: 400;
  font-size: 2.6em;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.3em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 3.0em;
  margin: 10px 0;
}

.small {
  font-size: 1.5em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.5em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 5px;
}
