.product-detail {
  background-color: white;
  border-radius: 8px;
  margin: 30px;
}
.productDetail_multiple_image{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.productDetail_multiple_image img{
  padding: 10px;
  height: 45vh;
}
.page-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail-img {
  width: 50%;
  display: block;
  margin: auto;
}
.products-title{
  padding: 15px;
  margin: 0;
}
.product-detail-info {
  border-left: 1px solid var(--light-gray);
  padding: 0px 15px;
  height: 100%;
}
.product-detail-title {
  font-weight: 500;
  font-size: 1.6em;
}
.product-detail-description_header {
  padding: 15px;
  font-size: 1.1em;
  background-color: var(--light-gray);
}
.product-detail-description {
  padding: 15px;
  font-size: 1.1em;
  background-color: var(--light-gray);
}

.product-detail-price {
  font-size: 2em;
  margin: 10px 0;
}

.small {
  font-size: 1.4em;
  color: var(--verde);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.medio_de_pago{
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 0.8em;
}
.logos_medios_de_pago{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logos_medios_de_pago img{
  
}

.medio_de_pago i {
  color: rgb(198, 192, 126);
  font-size: 2em;
  margin-right: 15px;
}
.medio_de_pago p {
  font-size: 1.5em;
  margin: 0;
}


#button_agregar_producto{
  background: var(--botonesDorados);
  border: 0;
  width: 80%;
}

#detalle_product_section_info{
  padding-right:0;
}

#formulario_button_agregar{
  display: flex;
  justify-content: center;
}
#detalle_product_section_value{
  padding-left:0;
}

.product-detail-mediosPagos{
  font-weight: 500;
  font-size: 1.3em;
}
