.product_detail_main{
  display: flex;
  justify-content: center;
}
.product_detail_container{
  display: flex;
  background-color: white;
  flex-direction: row;
  border-radius: 15px;
  width: 80em;
  margin: 30px 30px 0px 30px;
}
/*Product_info_principal*/
.product_detail_box{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 70%;
}
.product_detail_image_box{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.product_detail_image{
  display: flex;
  height:30em;
  width:30em;
  align-content: center;
  justify-content: center;
}
#main-image{
  height: 100%;
  width: 100%;
  object-fit:contain;
}
.product_detail_description_box{
  overflow: auto;
  height: 5em;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

/*Medios de Pago*/

.product_detail_buyinfo_box{
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
.product_detail_buyinfo_title{
  font-weight: 500;
  font-size: 1.8em;
  margin: 30px 0;
}
.product_detail_buyinfo_discount{
  font-size: 1.5em;
  color: var(--verde);
}
.product_detail_buyinfo_discount span{
  text-decoration: line-through;
}
.product_detail_buyinfo_price{
  font-size: 2em;
  margin: 10px 0;
  font-weight: 500;
}
.product_detail_buyinfo_mediosPagos{
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.medio_de_pago{
  display: flex;
  align-items: center;
}
.medio_de_pago p {
  font-weight: 500;
  font-size: 1.2em;
}
.medio_de_pago i {
  background: linear-gradient(to top, rgb(172, 113, 45) 0%, rgb(224, 218, 142) 50%,rgb(186, 122, 49) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.8em;
  margin-right: 15px;
}
.logos_medios_de_pago{
  padding-bottom: 10px;
}
.logos_medios_de_pago img{
  width: 2.5em;
}
.product_detail_buyinfo_button{
  padding: 0px 0px 0px 11px;
  width: 100%;
}
#button_agregar_producto{
  border: 0;
  background: var(--botonesDorados);
}

@media (max-width:750px){
  .product_detail_container{
    flex-direction: column;
    width: 85vw;
  }
  .product_detail_buyinfo_title{
    margin: 0;
  }
  .product_detail_image{
    display: flex;
    width:80vw;
    object-fit: contain;
    align-content: center;
    justify-content: center;
  }
  .product_detail_box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }
  .product_detail_buyinfo_button{
    padding: 0px 15px 15px 15px;
    width: 100%;
  }

}