
.productCard_box{
    background-color: white;
    border-radius: 5px;
    transition: 300ms;
    margin-bottom: 20px;
    height: 331px;
    overflow: hidden;
}
.productCard_box:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    height: auto;
}
.productCard_box:hover i{
    background: linear-gradient(to top, rgb(172, 113, 45) 0%, rgb(224, 218, 142) 50%,rgb(186, 122, 49) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.productCard_img{
    border-radius: 5px;
    padding: 5px;
    border-bottom: 1 solid ;
    height: 15em;
}
.productCard_img {
    border-bottom: 1px solid var(--light-gray);
}
.productCard_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productCard_info_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.productCard_info{
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    display: flex;
}
.productCard_info_2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
}
.productCard_originalPrice{
    color: var(--fondoCookie);
    font-size: 17px;
    font-weight: 600;
    text-decoration:line-through;
    padding-left: 5px;
    display: none;
}
.productCard_box:hover .productCard_originalPrice{
    display: flex;
}
.productCard_boxInfo{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
}
.productCard_finalPrice{
    color: black;
    font-size: 25px;
    font-weight: 600;
    
}
.productCard_discount{
    color: var(--verde);
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.productCard_name{
    padding: 0px 5px 5px 10px;
    color: black;
    overflow: hidden;
    font-family: sans-serif;
}
#admin_tableProduct_price{
    text-decoration: line-through;
    color: var(--viñaDelMar);
}

@media (max-width: 574px) {
    .productCard_box{
        width: 100%;
    }
}