#form_addProduct_box #category{
    border:2px solid red;
}
#form_addProduct_asteriscos{
    color: red
}
#form_product_asterisco_name{
    color:red;
}
#form_product_asterisco_category{
    color:red;
}
#form_product_asterisco_price{
    color:red;
}
#form_product_asterisco_description{
    color:red;
}
#form_product_asterisco_image{
    color:red;
}
#input-box-shadow{
    color: blueviolet;
}
#form_edit_product #category{
    border:2px solid Gold;
}
#form_edit_product_tilde{
    color: Gold;
    font-weight: bold;
}