.productCart_imagebox{
    height: 64px;
    width: 64px;
}

.productCart_imagebox img{
    width: 100%;
    height: 100%;
}

.productCart_box{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.productCart_modal{
    display: flex;
    justify-content: space-between;
}
.totalCarritoCompras{
    width: 100%;
}
.productCart_subtotal{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 20px;
    justify-content: space-between;
}
.productCart_price{
    text-decoration:line-through;
}