<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Informacion" }) %>

    <body>
        <%- include('partials/header') %>
            <main class="home_main">
                <div>
                    Contacto: 0800-0000-0000
                </div>
                <div>
                    Preguntas Frecuentes:
                </div>
                <div>
                    ¿Quienes Somos?
                </div>
                <div>
                    Nuestros Locales:
                </div>
                <div>
                    Venta A Empresas:
                </div>
                <div>
                    Medios De Pago:
                </div>
                <div>
                    Garantias: Ninguna
                </div>
                <div>
                    Terminos y Condiciones
                </div>
            </main>
            <%- include('partials/footer') %>
            <%- include('partials/scripts') %>
    </body>

</html>