<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body class="index">
    <%- include('partials/header') %>

      <main class="index__main">
        <div class="container products-wrapper">
          <div class="row">
            <div class="col-12">
              <h2 class="products-title">Basado en tu última visita</h2>
            </div>
            <% products.forEach(product=> { %>
              <div class="col-12 col-sm-6 col-lg-3">
                <%- include('partials/productCard', {...product}) %>
              </div>
              <% }) %>
  
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>