<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body class="index">
    <%- include('partials/header') %>

      <main class="index__main">

        <div class="index__main__reversor">
          <section class="index__main__section">

            <div class="index__main_section--oferts">
              <a href="/users/productDetail">
                <article class="index__main__section--ofert">
                  <img src="/img/caja.jpg" alt="imagen de la caja de herramientas" />

                  <div class="index__section__article--description">
                    <p class="descripcion">Caja de Herramientas Raulito</p>
                    <p class="precio">$6.770</p>
                  </div>
                </article>
              </a>
              <article class="index__main__section--ofert">
                <img src="/img/caja2.jpg" alt="imagen de otra caja de herramientas" />
                <div class="index__section__article--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>
            </div>

            <div class="index__main_section--selledMostAfter">
              <article class="index__main_section--selled">

                <img src="/img/taladro.jpg" alt="imagen de la caja de herramientas" />

                <div class="index__section__selled--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>

              <article class="index__main_section--selled">
                <img src="/img/llave2.jpg" alt="imagen de la caja de herramientas" />

                <div class="index__section__selled--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>
            </div>
          </section>
          <section class="index__main__section--tabletPC">

            <div class="index__main_section--oferts">
              <article class="index__main__section--ofert">
                <img src="/img/caja.jpg" alt="imagen de la caja de herramientas" />

                <div class="index__section__article--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>

              <article class="index__main__section--ofert">
                <img src="/img/caja2.jpg" alt="imagen de otra caja de herramientas" />

                <div class="index__section__article--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>
            </div>

            <div class="index__main_section--selledMostAfter">
              <article class="index__main_section--selled">
                <img src="/img/taladro.jpg" alt="imagen de la caja de herramientas" />

                <div class="index__section__selled--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>

              <article class="index__main_section--selled">
                <img src="/img/llave2.jpg" alt="imagen de la caja de herramientas" />

                <div class="index__section__selled--description">
                  <p class="descripcion">Caja de Herramientas Raulito</p>
                  <p class="precio">$6.770</p>
                </div>
              </article>
            </div>
          </section>
        </div>

        <!---  aca va la  seccon inferior -->
        <img />
        <section class="index__main__section--last">
          <div class="index__main_section--selledMostAfter">
            <article class="index__main_section--selled">
              <img src="/img/aire.jpg" alt="imagen de la caja de herramientas" />

              <div class="index__section__selled--description">
                <p class="descripcion">Caja de Herramientas Raulito</p>
                <p class="precio">$6.770</p>
              </div>
            </article>

            <article class="index__main_section--selled">
              <img src="/img/taladrotes.jpg" alt="imagen de la caja de herramientas" />

              <div class="index__section__selled--description">
                <p class="descripcion">Caja de Herramientas Raulito</p>
                <p class="precio">$6.770</p>
              </div>
            </article>
          </div>
          <div class="index__main_section--selledMostAfter ">
            <article class="index__main_section--selled">
              <img src="/img/aire.jpg" alt="imagen de la caja de herramientas" />

              <div class="index__section__selled--description">
                <p class="descripcion">Caja de Herramientas Raulito</p>
                <p class="precio">$6.770</p>
              </div>
            </article>

            <article class="index__main_section--selled">
              <img src="/img/taladrotes.jpg" alt="imagen de la caja de herramientas" />

              <div class="index__section__selled--description">
                <p class="descripcion">Caja de Herramientas Raulito</p>
                <p class="precio">$6.770</p>
              </div>
            </article>
          </div>
        </section>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>