<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: "Carrito" }) %>

  <body class="home">
    <%- include('partials/header') %>
      <main class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mx-auto mt-5">
            <div class="card shadow">
              <div class="card-header">
                <a class="btn btn btn-secondary" href="">Calcular Total <i class="fa-solid fa-cash-register"></i></a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">SubTotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Product_Ejemplo</td>
                        <td>5000</td>
                        <td>5</td>
                        <td>25000</td>
                      </tr>
                      <tr>
                        <td scope="row">Product_Ejemplo</td>
                        <td>5000</td>
                        <td>5</td>
                        <td>25000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
  </body>

</html>