<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="cart">
  <%- include('partials/header') %>
  <main class="cart__main">
    <section class="cart_main_section">
      <div class="cart__main_section--selledMostAfter">
        <article class="cart__main_section--selled">
          <img
            src="/img/taladro.jpg"
            alt="imagen de la caja de herramientas"
          />

          <div class="cart_section_selled--description">
            <p class="descripcion">Caja de Herramientas Raulito</p>
            <p class="precio">$6.770</p>
          </div>
        </article>

        <article class="cart__main_section--selled">
          <img
            src="/img/llave2.jpg"
            alt="imagen de la caja de herramientas"
          />

          <div class="cart_section_selled--description">
            <p class="descripcion">Caja de Herramientas Raulito</p>
            <p class="precio">$6.770</p>
          </div>
        </article>

        <button>Seguir comprando</button>
        <button>Necesitas Ayuda</button>
      </div>
    </section>
  </main>

  <%- include('partials/footer') %>
</body>

</html>