<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body class="index">
    <%- include('partials/header') %>

      <main class="index__main">


        <h1>Resultado de la busqueda</h1>
     

      </main>
      <%- include('partials/footer') %>
  </body>

</html>