<%if(!locals.userLogin){%>
    <div id="div_cookies" style="display: block" class="footer_cookie">
        <div><h4><b>Hemos actualizado nuestra política de privacidad y cookies</b></h3></div>
        <div><h6>Hemos actualizado nuestra Política de Privacidad y Cookies. Realizamos algunos cambios el 2 de octubre de 2023 para brindarle una manera más fácil de controlar sus datos cuando inicie sesion y poder brindarle una navegación fluida en nuestro sitio. Continuar navegando en el sitio se considera que acepta el uso de cookies</h5></div>
        <div class="div_cookies_buttons">
            <a href="https://www.google.com/"><button type="button" class="btn btn-secondary">No estoy de acuerdo</button></a>
            <form action="" method="POST">
                <button onclick="document.getElementById('div_cookies').setAttribute('style','display: none')" type="submit" class="btn btn-secondary">Estoy de acuerdo</button>
            </form>
        </div>
    </div>
<%}%>


