<footer class="home__footer">
    <nav class="home__footer--nosotros">
        <ul>
            <li><a href="/users/faq">Contacto</a></li>
            <li><a href="/users/faq">Preguntas Frecuentes</a></li>
            <li><a href="/users/faq">¿Quienes Somos?</a></li>
            <li><a href="/users/faq">Nuestros Locales</a></li>
            <li><a href="/users/faq">Venta a Empresas</a></li>
            <li><a href="/users/faq">Medios De Pago</a></li>
            <li><a href="/users/faq">Garantias</a></li>
            <li><a href="/users/faq">Terminos Y Condiciones</a></li>
        </ul>
    </nav>
</footer>
