<!-- reestructurado pedido  -->
<footer class="home__footer">
    <nav class="home__footer--nosotros">
        <ul>
            <li><a href="">Condiciones</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Quienes somos</a></li>
            <li><a href="">Donde estamos</a></li>
            <li><a href="">Sucursales</a></li>
        </ul>
    </nav>
</footer>