<footer class="home__footer">
    <nav class="home__footer--nosotros">
        <ul>
            <li><a href="">Contacto</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Registrate</a></li>
            <li><a href="">Nuestros Locales</a></li>
            <li><a href="">Venta Empresas</a></li>
            <li><a href="">Medios De Pago</a></li>
            <li><a href="">Garantias</a></li>
            <li><a href="">Terminos Y Condiciones</a></li>
        </ul>
    </nav>
</footer>