<!-- reestructurado pedido  -->
<header class="header">
  <div class="header__top-container">
    <img class="header__banner--top" src="/img/logo_rehogar.png" alt="bandera mercadolibre" />
    <nav class="header__nav--header">

      <ul class="home__nav__ul ">
        <a href="/users/login">
          <li> <i class="fa-regular fa-address-card"></i> Ingresa a tu cuenta / Registrate</li>
        </a>

        <a>
          <li> <i class="fa-solid fa-basket-shopping"></i>Mis compras <p>0</p>
          </li>
        </a>
      </ul>
    </nav>
  </div>
  <div class="header__searchbar-nav--container">
    <div class="header__searchbar--container">
      <input class="header__searchbar" type="search" placeholder="Buscar productos, marcas." /><button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>


    <nav class="header__nav">

      <ul class="home__nav__ul ">
        <a href="/users/login">
          <li> <i class="fa-regular fa-address-card"></i></li>
        </a>

        <a>
          <li> <i class="fa-solid fa-basket-shopping"></i>
            <p>0</p>
          </li>
        </a>
      </ul>
    </nav>
  </div>

</header>