<header class="home__header">
  <div class="header_contenido">
    <div>
      <a href="/">
        <div class="contenedor_titulo">
          <div class="header__top-container">
            <img class="home_header_logo" src="/img/logo_rehogar.png" alt="falta logo ReHome" />
          </div>
          <div>
            <h1 class="header_titulo">Re-Hogar</h1>
          </div>
        </div>
      </a>
    </div>
    <nav class="home__header__nav--menu">
      <ul class="header_ul">
        <li><a href="/">home <i class="fa-solid fa-house"></i></a></li>
        <div class="header_searchbar">
          <form action="/products/search" method="GET" class="search-form">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button class="header_searchbar_button" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <% if (locals.userLogin) { %>
          <% if (locals.userLogin.role==="admin" ) { %>
            <li><a href="/admin">ADMIN <i class="fa-solid fa-screwdriver-wrench"></i></a></li>
            <% } %>
              <% if (userLogin.role==="user") {%>
                <li><a href="/users/productCart/<%= locals.userLogin.id %>">Carrito <i class="fa-solid fa-cart-shopping"></i>
                  <% if (locals.userLogin.cantProduct) { %>
                    <%= locals.userLogin.cantProduct %>
                  <% }else{%>
                      0
                  <% } %>
                </a></li>
              <% }%>
                  <li><a href="/users/profile">Editar Perfil <i class="fa-regular fa-address-card"></i></a></li>
                  <li><a href="/users/logout">salir <i class="fa-solid fa-door-open"></i></a></li>
        <% }else{ %>
                    <li><a href="/users/register">registro <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/users/login">ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <% } %>
      </ul>
    </nav>
    <a class="home_main_top_arrow" href=""><img width="50px" src="/img/volver_arriba_flecha.png"alt=""></a>
  </div>

</header>