<!-- reestructurado pedido  -->
<header class="header">
  <div class="header__top-container">
    <img class="header__banner--top" src="/img/logo_rehogar.png" alt="bandera mercadolibre" />
    <nav class="header__nav--header">

      <ul class="home__nav__ul ">
        <a href="/users/login">
          <li> <i class="fa-regular fa-address-card"></i> Ingresa a tu cuenta / Registrate</li>
        </a>

        <a href="/users/productCart">
          <li> <i class="fa-solid fa-basket-shopping"></i>Mis compras <p>0</p>
          </li>
        </a>
        <li><a href="/users/productEdit">Editar producto</a></li>
        <li><a href="/users/productAdd">Agregar producto</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__searchbar-nav--container">

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search" action="" method="GET">
          <input class="form-control me-2" type="search" placeholder="Buscar productos, marcas." aria-label="Search">
          <button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </nav>


    <nav class="header__nav">

      <ul class="home__nav__ul ">
        <a href="/users/login">
          <li> <i class="fa-regular fa-address-card"></i></li>
        </a>

        <a>
          <li> <i class="fa-solid fa-basket-shopping"></i>
            <p>0</p>
          </li>
        </a>
      </ul>
    </nav>
  </div>

</header>