<header class="home__header">
  <div>
    <a href="/">
      <div class="contenedor_titulo">
        <div class="header__top-container">
          <img class="home_header_logo" src="/img/logo_rehogar.png" alt="falta logo ReHome" />
        </div>
        <div>
          <h1 class="header_titulo">Re-Hogar</h1>
        </div>
      </div>
    </a>
  </div>
  <nav class="home__header__nav--menu">
    <ul>
      <li><a href="/">home</a></li>
          <div id="sinEstilo">
              <div class="container-fluid">
                <form action="/products/search" method="GET" class="d-flex gap-0" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar productos, marcas y más" aria-label="Search">
                  <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
        </div>
      <% if (locals.userLogin) { %>
        <% if (userLogin.role==="admin" ) { %>
          <li><a href="/admin">ADMIN</a></li>
          <% } %>
          <% if (userLogin.role==="user" ) { %>
            <li><a href="/users/productCart">Carrito</a></li>
            <% } %>
            <li><a href="/users/profile">Editar Perfil</a></li>
            <li><a href="/users/logout">salir</a></li>
            <% }else{ %>
              <li><a href="/users/register">registro</a></li>
              <li><a href="/users/login">ingresar</a></li>
              <% } %>
    </ul>
  </nav>
</header>