<header class="home__header">
  <div class="header_contenido">
    <div>
      <a href="/">
        <div class="contenedor_titulo">
          <div class="header__top-container">
            <img class="home_header_logo" src="/img/logo_sinFondo.png" alt="falta logo ReHome" />
          </div>
        </div>
      </a>
    </div>
    <div id="menu_busqueda_mobile" class="header_searchbar">
      <form action="/products/search" method="GET" class="search-form">
        <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
        <button class="header_searchbar_button" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="header_menu_desplegado">
      <nav class="home_header_nav-menu">
      <ul class="header_ul">
        <li id="header_button_1"><a href="/">inicio <i class="fa-solid fa-house"></i></a></li>
        <div id="header_button_2" class="header_searchbar">
          <form action="/products/search" method="GET" class="search-form">
            <input id="searchbar_header" type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button class="header_searchbar_button" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <% if (locals.userLogin) { %>
          <% if (locals.userLogin.role==="admin" ) { %>
            <li id="header_button_3"><a href="/admin">ADMIN <i class="fa-solid fa-screwdriver-wrench"></i></a></li>
            <% } %>
              <% if (userLogin.role==="user") {%>
                <li id="header_button_3"><a href="/users/productCart/<%= locals.userLogin.shoppingcartId %>">Carrito <i class="fa-solid fa-cart-shopping"></i>
                  <% if (locals.userLogin.cantItems) { %>
                    <p><%= locals.userLogin.cantItems %></p>
                  <% } %>
                </a></li>
              <% }%>
                  <li id="header_button_4"><a href="/users/profile">Editar Perfil <i class="fa-regular fa-address-card"></i></a></li>
                  <li id="header_button_5"><a href="/users/logout">salir <i class="fa-solid fa-door-open"></i></a></li>
        <% }else{ %>
                    <li id="header_button_4"><a href="/users/register">registro <i class="fa-regular fa-address-card"></i></a></li>
                    <li id="header_button_5"><a href="/users/login">ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <% } %>
      </ul>
      </nav>
    </div>
    <div class="header_menu_desplegable">
      <nav class="navbar bg-body-tertiary fixed-top" id="header_menu_desplegable_fondo">
        <div class="container-fluid justify-content-end">
          <button id="button_menu_desplegar" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h3>
              <button id="button_menu_desplegable" type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div id="header_botones_desplegados" class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a href="/"><b>Home <i class="fa-solid fa-house"></i></b></a>
                </li>
                <% if (locals.userLogin) { %>
                  <% if (locals.userLogin.role==="admin" ) { %>
                    <li><a href="/admin"><b>ADMIN <i class="fa-solid fa-screwdriver-wrench"></i></b></a></li>
                    <% } %>
                      <% if (userLogin.role==="user") {%>
                        <li id="header_button_3"><b><a href="/users/productCart/<%= locals.userLogin.shoppingcartId %>">Carrito <i class="fa-solid fa-cart-shopping"></i>
                          <% if (locals.userLogin.cantItems) { %>
                            <%= locals.userLogin.cantItems %>
                          <% } %>
                        </a></b></li>
                      <% }%>
                          <li><a href="/users/profile"><b>Editar Perfil <i class="fa-regular fa-address-card"></i></b></a></li>
                          <li><a href="/users/logout"><b>Salir <i class="fa-solid fa-door-open"></i></b> </a></li>
                <% }else{ %>
                            <li><a href="/users/register"><b>Registro <i class="fa-regular fa-address-card"></i></b></a></li>
                            <li><a href="/users/login"><b>Ingresar <i class="fa-solid fa-right-to-bracket"></i></b></a></li>
                <% } %>
              </ul>
              <div class="header_searchbar">
                <form action="/products/search" method="GET" class="search-form">
                  <input id="searchbar_header" type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
                  <button class="header_searchbar_button" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <a class="home_main_top_arrow" href=""><img width="50px" src="/img/volver_arriba_flecha.png"alt=""></a>
  </div>
  <script src="/js/validarFormularioDeBusqueda.js"></script>

</header>